.create-form,
.edit-form {
  margin-top: 7rem;
}

.create-form h1,
.edit-form h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.create-form .container,
.edit-form .container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-form form,
.edit-form form {
  width: 50%;
}

.label-name {
  position: relative;
  display: block;
  font-size: var(--normal-size);
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.form-input {
  border: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  font-family: var(--font-fam);
  color: var(--zinc-900);
}

.form-input:focus {
  outline: none;
}

.submit-btn {
  border: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-fam);
  font-size: var(--normal-size);
  color: var(--zinc-900);
  background-color: #86efac;
  cursor: pointer;
}
