.full-parallax {
  width: 100%;
  height: 100vh;
  background-image: url("../img/keyboard.jpg");
  background-size: cover;
  text-align: center;
}

.full-parallax::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #18181b57;
  z-index: 1;
}

.full-parallax h1 {
  position: relative;
  padding-top: 30%;
  font-size: 6rem;
  color: var(--teal-200);
  z-index: 2;
}
